body{
  margin:0;
  background:#000;
  font-family:Inter,Arial;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.app{
  width:92%;
  max-width:480px;
  height:92%;
  display:flex;
  flex-direction:column;
  background:#000;
  border:2px solid #00ff55;
  border-radius:20px;
  overflow:hidden;
}

.topbar{
  display:flex;
  align-items:center;
  padding:14px;
  background:#000;
  border-bottom:2px solid #00ff55;
  justify-content:space-between;
}

.logo{
  color:#00ff55;
  font-weight:700;
  font-size:18px;
  letter-spacing:1px;
}

#nameInput{
  padding:8px 12px;
  border-radius:10px;
  border:2px solid #00ff55;
  outline:none;
  background:#000;
  color:#00ff55;
}

#chat{
  flex:1;
  padding:16px;
  overflow-y:auto;
  color:#00ff55;
}

.msg{
  margin-bottom:14px;
  max-width:80%;
}

.msg-me{
  margin-left:auto;
  text-align:right;
}

.who{
  font-size:12px;
  opacity:0.7;
  margin-bottom:3px;
  color:#00ff55;
}

.bubble{
  padding:10px 14px;
  border:2px solid #00ff55;
  border-radius:14px;
  background:#000;
  color:#00ff55;
  animation:fadeIn 0.2s ease;
  word-wrap:break-word;
  overflow-wrap:break-word;
  white-space:pre-wrap;
}


.msg-me .bubble{
  background:#002a11;
  border-color:#00ff55;
  color:#00ff55;
}

.bottom{
  display:flex;
  padding:12px;
  background:#000;
  border-top:2px solid #00ff55;
  gap:10px;
}

textarea{
  flex:1;
  border:2px solid #00ff55;
  outline:none;
  resize:none;
  padding:12px;
  border-radius:12px;
  background:#000;
  color:#00ff55;
}

button{
  padding:10px 18px;
  background:#001a09;
  border:2px solid #00ff55;
  color:#00ff55;
  border-radius:12px;
  cursor:pointer;
}

button:hover{
  background:#003814;
}

@keyframes fadeIn{
  from{opacity:0;transform:translateY(5px)}
  to{opacity:1;transform:translateY(0)}
}
